@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Caveat&family=Fascinate&family=Fascinate+Inline&family=Josefin+Sans:wght@100&family=League+Gothic&family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&family=Poiret+One&family=Rubik+Moonrocks&family=Shadows+Into+Light&display=swap");
/*font-family: 'Bangers', cursive;
font-family: 'Caveat', cursive;
font-family: 'Fascinate', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'League Gothic', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Shadows Into Light', cursive;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.contenedor {
  background: #8E0E00; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url(../img/fondo\ \(3\).jpg);
  background-size: cover;
  font-family: "Bangers", cursive;
}
.contenedor .navbar {
  font-size: 25px;
}
.contenedor .body_style {
  color: white;
}
.contenedor .body_style h1 {
  font-size: 50px;
  text-shadow: 2px 2px 5px #780206;
}
.contenedor .body_style p {
  padding: 18px;
  text-align: justify;
  text-shadow: 2px 2px 5px #780206;
}
.contenedor .body_style img {
  background-size: cover;
}
.contenedor .main {
  width: 100%;
  height: 100%;
  text-align: justify;
  line-height: 20px;
  padding: 20px;
}
.contenedor .main .contenedorSubtitulo1 h3 {
  padding: 20px;
  text-align: left;
  text-shadow: 2px 2px 10px #1F1C18;
  color: white;
  font-size: 30px;
}
.contenedor .main .contenedorSubtitulo1 p {
  color: #1F1C18;
  line-height: 30px;
  box-shadow: 2px 2px 5px white;
  padding: 20px;
  height: 100%;
}
.contenedor .main .contenedorSubtitulo1 p:hover {
  color: white;
  transition: 2s;
  text-shadow: 2px 2px 10px #1F1C18;
}
.contenedor .footer {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 25px;
}
.contenedor .footer .redes i {
  font-size: 35px;
  text-align: center;
  color: white;
  letter-spacing: 20px;
  padding: 5px;
}
.contenedor .footer .redes #color:hover {
  color: #780206;
}
.contenedor .footer .redes #color2:hover {
  color: #780206;
}
.contenedor .footer .redes #color3:hover {
  color: #780206;
}
.contenedor .footer .redes #color4:hover {
  color: #780206;
}
.contenedor .footer .copiryght {
  text-align: left;
  color: white;
  text-shadow: 2px 2px 10px white;
  padding: 20px;
}
.contenedor .footer .subir {
  height: 30px;
  width: 30px;
  background-color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #1F1C18;
  border: 50%;
  border-radius: 30%;
  box-shadow: 0 0 10px darkslategrey;
}

/*Creamos el bucle para usar los valores del mapa*/
.band--h1 {
  font-size: 3em;
}

.band--h2 {
  font-size: 2em;
}

.band--h3 {
  font-size: 1em;
}

/*news*/
.tituloNews, .contacto .contactoItem1, .tituloVideo, .tituloGaleria, .tituloMusic, .tituloBand {
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 10px #1F1C18;
  text-align: center;
  padding: 10px;
}

.container-fluid .row .art h3 {
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 10px #1F1C18;
}
.container-fluid .row .art p {
  color: white;
  text-shadow: 2px 2px 10px #1F1C18;
  font-size: 18px;
  text-align: justify;
}
.container-fluid .row .art2 {
  color: #1F1C18;
  text-shadow: 2px 2px 10px white;
  text-align: justify;
}

/*band*/
.band--title {
  text-align: center;
  color: white;
  padding: 20px;
  text-shadow: 2px 2px 5px #1F1C18;
}
.band--title h3 {
  font-size: 18px;
}
.band--title p {
  font-size: 16px;
}
.band--title .imagenBand {
  width: 100%;
  padding: 20px;
  box-shadow: 2px 2px 5px #1F1C18;
}
.band--title .imagenBand:hover {
  transform: scale(1.05);
  transition: all 0.7s;
}

/*music*/
/*galery*/
.carousel-inner img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.videoItem iframe {
  height: 300px;
  margin: 20px;
}

/*contact*/
.contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  width: 100%;
  text-shadow: 2px 2px 10px white;
}
.contacto .contactoItem1 p {
  font-size: 18px;
  text-align: justify;
  color: white;
  padding: 30px;
}
.contacto .contactoItem2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  color: white;
}
.contacto .contactoItem2 .caja {
  border-radius: 5px;
  margin: 10px;
  background-color: white;
}
.contacto .contactoItem2 .btn-primary {
  background-color: #1F1C18;
  font-size: 18px;
  padding: 10px;
  box-shadow: 0 0 10px white;
}
.contacto .contactoItem2 .btn-primary:hover {
  color: #780206;
}

@media only screen and (min-width: 991px) {
  .contenedor .body_style {
    color: white;
  }
  .contenedor .body_style h1 {
    font-size: 100px;
    text-shadow: 2px 2px 5px white;
  }
  .contenedor .body_style p {
    padding: 20px;
    text-align: justify;
    text-shadow: 2px 2px 5px #780206;
  }
  .tituloBand {
    font-size: 35px;
  }
  .band--title {
    font-size: 35px;
  }
  .band--title h3 {
    font-size: 28px;
  }
  .band--title p {
    font-size: 20px;
  }
  .tituloMusic {
    font-size: 35px;
  }
  .tituloGaleria {
    font-size: 35px;
  }
}/*# sourceMappingURL=estilos.css.map */